<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/masonry.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
